
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular.ttf);
}

body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button.button {
    min-width: 150px;
    font-size: 3rem;
}


h1 {
    text-align: center;
    font-size: 10rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pill {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 30px;
    justify-content: space-evenly;
}

#rate-button {
    margin-top: 100px;
    border: 1px solid black;
}

#status_text {
    padding-top: 40px;
    font-size: 2rem;
}

.footer {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

#city-input {
    max-width: 50vw;
    font-size: 2rem;
}

#location-text {
    font-size: 0.7rem;
    color:rgb(71, 78, 78);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    text-align: center;
    font-size: 4rem;
}

.total-tag {
    font-size: 1rem;
}

#rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    display: none;
}

#rating-container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3rem;
}

#rating-container .box img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

#rating-container .box .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rating-container .box .text {
    font-size: 3rem;
}

sub {
    font-size: 1rem;
}

#flat-score-text {
    text-align: center;
    font-size: 2rem;
    margin-top: -20px;
}

.subtext {
    color: darkslategray;
    font-size: 0.7rem;
    margin-top: -5px;
}

